.container {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  gap: 20px;
}

.titleMovie {
    display: flex;
    justify-content: center;
}

.overview {
  width: 900px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.details {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.link:not(:last-child) {
  margin-right: 30px;
}

.imageMovies {
    border-radius: 5px;
    height: 625px;
    width: 500px;
}
